.PostListItem{
  display: flex;
  justify-content: center;
  margin-bottom: 2vmin;
  margin-left: 18vmin;
  margin-right: 18vmin;
  padding: 1rem;
  border: 2px solid red;
  border-radius: 8px;
}

.PostInfo{
  display: flex;
  flex-direction: row;
  gap: 5vmin;
}

.PostContent{
  margin-top: 2vmin;
  display: flex;
  flex-direction: row;
  gap: 4vmin;
}

.PostInfo buttons{
  margin: 0.5rem;
  padding: 0.5rem;
  border: solid;
  border-radius: 0.5rem;
  font-weight: bold;
}